@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

:root {
 --offw: rgb(246, 246, 246);
 --offw2: rgb(225, 225, 225);
 --red: rgb(246,0,87);
 --blue: rgb(64,80,181);
}

html {
  background-color: rgb(192, 220, 255);
}

.App {
  text-align: center;
  background-color: rgb(192, 220, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.app-title {
  font-family: 'Lora';
  font-size: 20px;
  /* background-color: rgb(255, 255, 255) !important; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  /* margin-bottom: 25px !important; */
  padding: 10px;
  width: 100%;
  /* min-height: 250px; */
  z-index: 2 !important;
  background-image: linear-gradient(114deg, #ffffff 20%, #fafafa 20%, #fafafa 50%, #ffffff 50%, #ffffff 70%, #fafafa 70%, #fafafa 100%);
  background-size: 109.46px 245.86px;
}
.title-header {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 700 !important;
  font-size: 58px !important;
  margin: 10px;
}
.subtitle {
  font-family: 'Parisienne' !important;
  font-size: 28px;
}
.header-col {
  margin: 0px 18px;
  text-align: justify !important;
}
.byline {
  font-family: 'Raleway', sans-serif !important;
  font-size: 10px !important;
  margin: 10px 0px 5px 0px;
}
.low-t {
  z-index: 0 !important;
}
/* .switches {

} */

.poster {
  width: 48% !important;
  background-image: linear-gradient(114deg, #ffffff 20%, #fafafa 20%, #fafafa 50%, #ffffff 50%, #ffffff 70%, #fafafa 70%, #fafafa 100%) !important;
  background-size: 109.46px 245.86px !important;
}

.proposition {
  font-family: 'Lora';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  width: 60%;
  /* min-height: 250px; */
  font-size: 28px;
  animation: fadein .666s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.open {
  background-color: rgb(255, 255, 255) !important;
  min-height: 120px;
  padding-top: 10px;
  padding-bottom: 0px;
}
.passed {
  background-color: var(--offw) !important;
  border: solid 1.7px var(--blue);
}
.failed {
  background-color: var(--offw) !important;
  border: solid 1.7px var(--red);
}
.passed .prop-hider, .failed .prop-hider {
  display: none;

}

.passed-addendum { 
  margin: 3.5px 8px !important;

}
.failed-addendum { 
  margin: 3.5px 8px !important;
  
}
.hidden-failed-addendum, .hidden-failed-addendum .addendum-inner {
  display: none !important;
}
.failed-addendum .addendum-inner {
  background-color: white !important;
  border: solid 1.7px var(--red); 
  min-height: 31px !important;
  font-family: 'Lora' !important;
  display: list-item;
  list-style: disc;
  list-style-position: inside;
  margin: -50px 0px !important;
  text-decoration: line-through;
  width: 53%
}
.passed-addendum .addendum-inner {
  background-color: white !important;
  border: none;
  min-height: 31px !important;
  font-family: 'Lora' !important;
  display: list-item;
  list-style: disc;
  list-style-position: inside;
  margin: -50px 0px !important;
  width: 53%
}
.passed-addendum .add-button, .failed-addendum .add-button {
  display: none !important;
}
.closed-hidden {
  display: none !important;
}

.addendum {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 8px;
  margin-bottom: 25px;
  width: 100%;
  min-height: 62px;  
}
.addendum-inner {
  margin: 0px 5px;
  padding: 7px 10px;
  width: 55%;
  min-height: 62px;
  text-align: left;
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;  
}
.proposal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.proposal-box {
  background-color: rgb(248, 248, 248);
  font-family: 'Roboto', sans-serif !important; 
  margin: 20px;
}

.new-addendum {
  animation: fadein .666s !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 8px 8px 28px 8px;
  width: 105%;
  min-height: 50px;
}
.new-addendum-box {
  margin: 0px 5px !important;
  width: 54.7%;
  min-height: 45px;
  text-align: left;
  font-size: 16px;
  animation: fadein .666s;
}

.blue {
  color: var(--blue);
  font-weight: bold;
}
.red {
  color: var(--red);
  font-weight: bold;
}